node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/backend/.env*
!/backend/.env.example
/backend/config/private/*
!/backend/config/private/.gitkeep
/backend/logs/*.log
/backend/vendor/
